* {
    margin: 0 auto;
}

body {
    color: seashell;
    padding: 0;
    text-align: center;
    background: linear-gradient(to top right, hotpink, blue, lawngreen);
    background-attachment: fixed;
    padding-top: 10%;
}
#s {
    color: hotpink;
}
#e {
    color: blue;
}
#n {
    color: lawngreen;
}

#senContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    width: 50%;
    height: 50%; 
    font-family: 'Shizuru', cursive;
    justify-content: center;
}

.senBoxes, .cardDiv {
    border: 3px solid silver;
    background-color: snow;
    width: 130px;
    height: 180px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 35px 35px 35px;
    margin-top: 20%;
    font-size: 50px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    box-shadow: 5px 10px rgba(192, 192, 192, 0.687);
}

#tagLine {
    margin-top: 20px;
    justify-content: center;
}

#buttonContainer {
    margin-top: 50px;a
    float: center;
}

/* input {
    border: none;
    border-bottom: 2px solid whitesmoke;
    background: linear-gradient(to top right, #f8EEE7, #a2a2a2);
    background-attachment: fixed;
} */

button {
    margin-top: 20px;
    padding: 10px;
}

#rulesSpace {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#cardSpace {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    width: 50%;
    height: 50%; 
    font-family: 'Shizuru', cursive;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 20px;
}

#topHeader {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#senTitle {
    font-family: 'Shizuru', cursive;
    font-size: 60px;
}

.display-player {
    display: flex;
    justify-content: center;
    padding: 15px;
}

