* {
    margin: 0 auto;
}

body {
    color: seashell;
    padding: 0;
    text-align: center;
    background: linear-gradient(to top right, hotpink, blue, lawngreen);
    background-attachment: fixed;
    padding-top: 10%;
}
#s {
    color: hotpink;
}
#e {
    color: blue;
}
#n {
    color: lawngreen;
}

#senContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    width: 50%;
    height: 50%; 
    font-family: 'Shizuru', cursive;
    justify-content: center;
    
}

.senBoxes, .cardDiv {
    border: 3px solid silver;
    background-color: snow;
    width: 130px;
    height: 180px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 35px 35px 35px;
    margin-top: 20%;
    font-size: 50px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    box-shadow: 5px 8px rgba(192, 192, 192, 0.687);
}

.cardDiv {
    cursor: pointer;
}

#tagLine {
    margin-top: 50px;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    
}

#buttonContainer {
    margin-top: 50px;a
    float: center;
}

#rulesSpace {
    margin-top: -60px;
    display: block;
    width: 1000%;
    max-width: 1000px;
}

#returnButton {
    margin-top: 30px;
}

#cardSpace {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    width: 50%;
    height: 50%; 
    font-family: 'Shizuru', cursive;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 20px;
}

#playerA, #playerB {
    display: flex;
    justify-content: end;
    align-items: baseline;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-right: 150px;
}

#senTitle {
    font-family: 'Shizuru', cursive;
    font-size: 70px; 
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-left: 150px;
    margin-bottom: -70px;
}

#gameSpace {
    margin-top: -30px;
}

.display-player {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-bottom: -10px;
    color: yellow;
}


button {
    --borderWidth: 3;
    --boxShadowDepth: 5;
    --buttonColor: yellow;
    --fontSize: 2;
    --horizontalPadding: 16;
    --verticalPadding: 8;
    
    margin: 20px;
    background: transparent;
    border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
    box-shadow: calc(var(--boxShadowDepth) * 1px) calc(var(--boxShadowDepth) * 1px) 0 #888;
    color: var(--buttonColor);
    cursor: pointer;
    font-size: calc(var(--fontSize) * 1rem);
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    outline: transparent;
    padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
    transition: box-shadow 0.15s ease;
  }
  
  button:hover {
    box-shadow: calc(var(--boxShadowDepth) / 2 * 1px) calc(var(--boxShadowDepth) / 2 * 1px) 0 #888;
  }
  
  button:active {
    box-shadow: 0 0 0 #888;
  }